<img height="200" width="100%" [src]="imagePath" alt="Bild konnte nicht geladen werden...">
<!--The whole content below can be removed with the new code.-->
<div class="page-header">
  <h1>
    <a href="#"><img [src]="atiwlogo"></a>{{title}} <small>{{year}}</small>
  </h1>
</div>
<div>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
             </li>
            </ul>
    </div>
</div>

<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2 id="abc"><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></h2>
  </li>
</ul>
<app-team></app-team>
<app-einzel></app-einzel>
